<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="heading">
    <h2><%= (theDay) %> </h2>
    <p>
    <h4><%= listName %> </h4>
    </p>
  </div>

  <div class="container">

    <% newListItem.map((item)=>{ %>
    <div class="list-items">
      <input type="checkbox">
      <p><%= item %> </p>
    </div>
    <%  })  %>

    <div class="list-items">
      <form action="/" method="post">
        <input type="text" placeholder="Enter Reminders" name="newItem" id="newPostItem" autofocus />
        <button type="submit" onclick="return emptyInput()" name="submitBtn" value="<%= listName %>">+</button>
      </form>
    </div>
  </div>

  <script src="js/script.js"></script>
</body>

</html>